extends layout

block content
  header
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1

          h1.text-center NODE-FIT
          hr.small
          h3.text-center Step Tracker App
          h4.text-center
            a(href="/steps/new") Create New Steps Entry
